body {
  font-family: $font-copy;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: 300;
  margin-bottom: 1em;
}

.container {
  max-width: 60rem;
  margin: 3.75rem auto 0 auto;
  padding: 0 2rem;
}

.visible {
  display: block;
}

button,
.button {
  display: inline-block;
  padding: 0.4em;
  border: 2px solid $color-grey;
  border-radius: 4px;
  background-color: $color-white;
  color: $color-grey;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-grey;
    color: $color-white;
  }

  i {
    font-size: 2rem;
  }
}

label {
  display: block;
}

form > div {
  margin-bottom: 1rem;
}
