.story-parts {}

.story-parts li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 2.5rem);
  margin: 2.5rem 2.5rem 2.5rem 0;
}

.story-parts img,
.story-parts video {
  width: 100%;
}
