.story-header {
  @include clearfix;
}

.story-header-title {
  float: left;
  margin-top: 0;
}

.story-header-nav {
  float: right;
}

.story-header-nav li {
  list-style-type: none;
  float: left;
  margin-left: 1rem;
}

.story-header-description {
  clear: both;
}

.publish-story {
  color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
}
